.main {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 4rem auto;
}

.lateral-active {
    transition: all ease-in-out 400ms;
    display: grid;
    width: 100%;
    grid-template-columns: 14rem auto;
}

.barra-lateral {
    transition: all ease-in-out 400ms;
    background-color: var(--bg-color-barra-lateral);
    height: 100vh;

    color: var(--text-color);
}

.escuela {
    position: relative;
    font-family: "Zen Dots", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 8rem;
}

.escuela .logo img {
    width: 70px;
}

.escuela .nombre-escuela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--logo-text-color);

    font-size: 18px;
    font-weight: 400;
}

.escuela .nombre-escuela span {
    font-family: "Zen Dots";
}

.escuela .button {
    position: absolute;
    top: 47px;
    right: -15px;
    z-index: 3;

    background-color: var(--button-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.escuela .button-left {
    display: flex;
}

.escuela .button-right {
    display: none;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--separator-color);
}

.items {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.item {
    transition: all ease-in-out 200ms;
    height: 3.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding-left: 2rem;
}

.item i {
    font-size: 1.2rem;
}

.item i,
.item span {
    transition: all ease-in-out 200ms;
}

.item.active {
    transition: all ease-in-out 200ms;
    background-color: #393939;
    color: var(--text-hover-color);
}

.item:hover {
    transition: all ease-in-out 200ms;
    background-color: #393939;
    color: var(--text-hover-color);
    cursor: pointer;
}

/*tooltip rigth*/
.tooltip {
    /* display:inline-block; */
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .right {
    min-width:50px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#393939;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(205, 204, 204, 0.5);
    display:none;
}

.tooltip:hover .right {
    display:block;
}

.tooltip .right p {
    font-family: 'Zen Dots';
    color: var(--logo-text-color);
    font-size: 16px;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#333333;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
/* tooltip end*/

.hide {
    transition: all ease-in-out 200ms;
    width: 4rem;
}

.hide .escuela .nombre-escuela {
    transition: all ease-in-out 200ms;
    display: none;
}

.hide .escuela .logo img {
    transition: all ease-in-out 200ms;
    width: 3rem;
}

.hide .escuela .button-left {
    transition: all ease-in-out 200ms;
    display: none;
}

.hide .escuela .button-right {
    transition: all ease-in-out 200ms;
    display: flex;
}

.hide .items .item span {
    transition: all ease-in-out 200ms;
    display: none;
}

.hide .items .item {
    transition: all ease-in-out 200ms;
    padding: 0;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .barra-lateral,
    .hide{
        display: none;
    }
    .container
    {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
    }
}

.cuerpo {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto 3rem;
}

.navbar {
    background-color: var(--bg-color-navbar);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
}

.navbar .title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 0.3rem;
}

.navbar .title .logo
{
    display: none;
    width: 3rem;
}

.navbar .title {
    color: var(--logo-text-color);
    font-family: "Zen Dots", cursive;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 900px) {
    .navbar .title .logo
    {
        transition: all ease-in-out 300ms;
        display: block
    }
}

@media (max-width: 840px) {
    .navbar .title h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 565px) {
    .navbar .title h2 {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .navbar .title h2 {
        font-size: 0.8rem;
    }
}

.navbar .user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .user .separator-column {
    width: 2px;
    height: 100%;
    background-color: var(--separator-color);
}

.navbar .user .user-info {
    margin: 0 1rem;
    width: 100%;
    display: flex;
    gap: .2rem;
    justify-content: space-around;
}

.navbar .user .user-info .photo {
    display: flex;
    width: 50px;
    height: 50px;

    overflow: hidden;
}

.navbar .user .user-info .photo img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--button-color);
}

.navbar .user .user-info .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 10px;
}

.navbar .user .user-info .desc .name {
    color: var(--logo-text-color);
    font-weight: 400;
    font-size: 14px;
}

.navbar .user .user-info .desc .rol {
    color: var(--text-color);
    font-weight: lighter;
    font-size: 12px;
}

@media (max-width: 1128px) {
    .navbar .user .user-info .desc {
        display: none;
    }
}

.navbar .opciones {
    display: none;

    background-color: var(--bg-color-navbar);
    position: absolute;
    top: 4.4rem;
    right: 0.3rem;
    border-radius: 0.5rem;

    width: 13rem;
}

.navbar .opciones .item {
    color: var(--button-color);
}

.navbar .opciones .perfil {
    border-radius: 0.5rem 0.5rem 0 0;
}

.navbar .opciones .exit {
    margin: 0.5rem 0;
}

.navbar .opciones .item:hover {
    background-color: #5e5a5a;
}

.footer-bar {
    height: 3rem;
    width: 100%;
    background-color: #393939;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer-bar span {
    color: var(--text-color);
    font-family: "Zen Dots";
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

.barra-lateral:has(.hide),
.footer-bar {
    transition: all ease-in-out 300ms;
}

.main-container {
    width: auto;
    overflow-y: auto;
    background-color: #7C7C7C;
}

.lateral-active {
    transition: all ease-in-out 400ms;
    display: grid;
    width: 100%;
    grid-template-columns: 14rem auto;
}

.rotate-pointer {
    transition: all ease-in-out 1000ms;
    transform: rotate(-180deg);
}

/*timer countdown*/
.title .timer{
    min-width: 52px;
    width: 52px;
    height: 26px;
    padding: 0 1rem;
    font-size: 14px;
}

.title .app-name{
    font-family: "Zen Dots";
    font-size: 16px;
}
/*timer countdown end*/
