<app-forbidden *ngIf="!permitido"></app-forbidden>
<app-loading [text]="'Cerrando sesión'" *ngIf="closeSesion"></app-loading>
<div *ngIf="permitido" class="app">
    <main class="main">
        <div #container class="container">
            <div #lateral class="barra-lateral hide" id="barra-lateral" >
                <div #escuela class="escuela">
                    <div class="logo">
                        <img src="../../../assets/logosistemas.png" alt="logo-sistemas">
                    </div>
                    <div class="nombre-escuela">
                        <span>EPIS</span>
                        <span>UNSCH</span>
                    </div>

                    <div #showButton class="button button-show-hide" id="button-left">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
                <div class="separator"></div>
                <div #items class="items">
                    <div (click)="btnActive(0, 'horarios')" class="item tooltip" [routerLink]="['/usuario/horario']" [class.active]="itemName == 'horarios'">
                        <i class="fa-solid fa-list-check"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Horarios</p>
                            <span>&#160;</span>
                            <i></i>
                        </div>
                            <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(1, 'docentes')" class="item tooltip" [class.active]="itemName == 'docentes'">
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Docentes</p>
                            <span>&#160;</span>
                            <i></i>
                        </div>
                        <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(2, 'matricula')" class="item tooltip" [routerLink]="['/usuario/matricula']" [class.active]="itemName == 'matricula'">
                        <i class="fa-solid fa-edit"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Matrícula</p>
                            <span>&#160;</span>
                            <i></i>
                        </div>
                        <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(3, 'cursos')" class="item tooltip" [class.active]="itemName == 'cursos'">
                        <i class="fa-solid fa-sitemap"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Mis<a style="color: transparent;">_</a>cursos</p>
                            <span>&#160;</span>
                            <i></i>
                    </div>
                        <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(4, 'deudas')" class="item tooltip" [routerLink]="['/usuario/deudas']" [class.active]="itemName == 'deudas'">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Mis<a style="color: transparent;">_</a>deudas</p>
                            <span>&#160;</span>
                            <i></i>
                    </div>
                        <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(5, 'pagos')" class="item tooltip" [class.active]="itemName == 'pagos'" [routerLink]="['/usuario/pagos/franklin.figueroa.27@unsch.edu.pe']">
                        <i class="fa-solid fa-money-check"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Mis<a style="color: transparent;">_</a>pagos</p>
                            <span>&#160;</span>
                            <i></i>
                    </div>
                        <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(6, 'ajustes')" class="item tooltip" [class.active]="itemName == 'ajustes'">
                        <i class="fa-sharp fa-solid fa-gears"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Ajustes</p>
                            <span>&#160;</span>
                            <i></i>
                    </div>
                        <!-- end tooltip-rigth -->
                    </div>
                    <div (click)="btnActive(7, 'usuario')" class="item tooltip" [class.active]="itemName == 'usuario'" [routerLink]="['/usuario/usuario']">
                        <i class="fa-solid fa-user"></i>
                        <!-- tooltip right -->
                        <div class="right">
                            <p>Usuario</p>
                            <span>&#160;</span>
                            <i></i>
                        </div>
                        <!-- end tooltip-rigth -->
                    </div>
                </div>
            </div>
            <div class="cuerpo">
                <div class="navbar">
                    <div class="title">
                        <img class="logo" src="../../../assets/logosistemas.png" alt="logo-sistemas">
                        <span class="app-name">SISTEMA DE MATRÍCULA EPIS UNSCH
                        <span class="timer">{{minutesToDday < 10 ? '0' + minutesToDday : minutesToDday}} min : {{secondsToDday < 10 ? '0' + secondsToDday : secondsToDday}} seg</span>
                        </span>

                    </div>
                    <div #userCont class="user">
                        <div class="separator-column"></div>
                        <div #userBar class="user-info">
                            <div class="photo" id="photo">
                                <img [src]="$User?.photoURL ||'../../assets/img/logo-icades.png'"
                                    alt="foto-perfil">
                            </div>
                            <div class="desc">
                                <div class="name">
                                    {{$User?.displayName}}
                                </div>
                                <div class="rol">
                                    Estudiante
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #vistaOpciones class="opciones" id="opciones">
                        <div class="item perfil">
                            <i class="fa-solid fa-user"></i>
                            <span>Perfil</span>
                        </div>
                        <div class="item">
                            <i class="fa-sharp fa-solid fa-gears"></i>
                            <span>Ajustes</span>
                        </div>
                        <div class="item" [routerLink]="['/usuario/horario']">
                            <i class="fa-solid fa-list-check"></i>
                            <span>Horarios</span>
                        </div>
                        <div (click)="btnActive(2, 'matricula')" class="item" [routerLink]="['/usuario/matricula']">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <span>Matrícula</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-sitemap"></i>
                            <span>Mis cursos</span>
                        </div>
                        <div class="item"  [routerLink]="['/usuario/franklin.figueroa.27@unsch.edu.pe']">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <span>Mis deudas</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-money-check"></i>
                            <span>Mis pagos</span>
                        </div>
                        <div class="separator"> </div>
                        <div class="item exit" (click)="CerrarSesion()">
                            <i class="fa-solid fa-power-off"></i>
                            <span>Cerrar sesión</span>
                        </div>
                    </div>
                </div>
                <div class="main-container">
                    <!-- Aqui va el contenido de leos hijos de este dato -->
                    <router-outlet></router-outlet>
                </div>
                <footer class="footer-bar">
                    <span>
                        @copyright Franklin F.P And Miguel R.G 2022 Todos los derechos reservados.
                    </span>
                </footer>
            </div>
        </div>
    </main>
</div>
