<div class="horario-container">
    <div class="horario-header">
        <div class="horario-title">
            <span>Horario</span>
        </div>
        <div class="horario-separador"></div>
        <div class="horario-desc">
            <i class="fa-solid fa-list-check icon"></i>
            <i class="fa-solid fa-chevron-right"></i>
            <span>Horario</span>
        </div>
    </div>
    <div class="main">
        <div #buscarContainer class="filtro-container">
            <div class="filtro-select">
                <div class="dropdown">
                    <div #buscarPor class="select">
                        <span class="selected">Buscar por</span>
                        <div #caretBus class="caret"></div>
                    </div>
                    <ul #menuBuscarPor class="menu">
                        <li>Código curso</li>
                        <li>Docente</li>
                    </ul>
                </div>
            </div>
            <div class="filtro-select">
                <div class="dropdown">
                    <div #seleccionar class="select">
                        <span class="selected">Selecciona</span>
                        <div #caretSel class="caret"></div>
                    </div>
                    <ul #menuSeleccionar class="menu">
                        <li>IS-181</li>
                        <li>IS-241</li>
                    </ul>
                </div>
            </div>
            <div class="btn-buscar-container">
                <button class="btn-buscar">Buscar</button>
                <button class="btn-buscar">Ver todo</button>
            </div>
        </div>
        <div class="container">
            <div class="table">
                <table>
                    <div class="card-container" #cardContainer></div>
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                        </tr>
                    </thead>
                    <tbody #table>
                        <tr>
                            <td>7 am - 8 am</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>8 am - 9 am</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>9 am - 10 am</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>10 am - 11 am</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>11 am - 12 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>12 pm - 1 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>1 pm - 2 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>2 pm - 3 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>3 pm - 4 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>4 pm - 5 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>5 pm - 6 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>6 pm - 7 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>7 pm - 8 pm</td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>