/* You can add global styles to this file, and also import other style files */
:root
{
    --text-color: #ffffff;
    --logo-text-color: #FFC736;
    --button-color: #ffc736
}

@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");

:root
{
    --text-color: #ffffff;
    --logo-text-color: #FFC736;
    --button-color: #ffc736;
    --text-hover-color: #ffc736;
    --bg-color-barra-lateral: #1E1E1E;
    --bg-color-navbar: #313131;
    --separator-color: #5e5a5a;
    --button-disabled: #ae9d84;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
