/* You can add global styles to this file, and also import other style files */
:root
{
    --text-color: #ffffff;
    --logo-text-color: #FFC736;
    --button-color: #ffc736
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}