<div class="input-container">
  <div  #texto class="input-group">
      <input #input_pwd [id]="IdName || 'name'" type="password"
      [placeholder]="placeholderText || ''"
      (keyup)="changeText($event)"
      (keydown)="changeText($event)"
      [required] = "IsRequired"
      [disabled]="isDisabled"
      value="holaaa">
      <label [for]="IdName || 'name'" class="placeholder-txt">{{placeholderText || ''}}
          <span *ngIf="IsRequired">(*)</span>
      </label>
      <label #eye_icon  class="eye-pass"><i class="fa-solid fa-eye"></i></label>
  </div>
</div>
