.body{
  background-color: #1C2127;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.advertencia-text{
  height: 150px;
  width: 300px;
}

/* para mobile */
@media only screen and (max-width: 820px) {  
  .body{
    flex-direction: column-reverse;
    height: 100%;
  }

  .neon{
    margin-top: 0px !important;
    font-size: 67px !important;
  }
  .door-frame{
    height: 371.25px !important;
    width: 234px !important;
    margin-left: 32px;
  }
  .door{
    height: 337.5px !important;
    width: 191px !important;
  }
  .container{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .advertencia-text{
    width: auto;
    text-align: center;
  }

  .message2{
    margin-left: 15px;
    text-align: justify;
  }

}
/* end moblile */

.container{
  position: relative;
}
.message{
  font-family: 'Zen Dots', sans-serif;
  font-size: 30px;
  color: var(--logo-text-color);
  font-weight: 500;
  position: relative;
}
.message2{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 300;
  width: 360px;
  position: relative;
}

.message2 span{
  color: var(--logo-text-color);
}

.btn-access{
  position: relative;
  font-size: 16px;
  color: var(--logo-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.btn-access a{
  padding: 14px 16px;
  letter-spacing: 0.02rem;
  cursor: pointer;
  background: transparent;
  transition: color 0.3s;
  z-index: 1;
}

.neon{
  text-align: center;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 90px;
  color: #e05b5b;
  letter-spacing: 3px;
  text-shadow: 0 0 5px #ec6e6e;
  animation: flux 2s linear infinite;
  
}
.trash{
  width: 170px;
  height: 220px;
  background-color: #585F67;
  top: 300px;
}
.can{
  width: 190px;
  height: 30px;
  background-color: #6B737C;
  border-radius: 15px 15px 0 0;
}
.door-frame {
  height: 495px;
  width: 295px;
  border-radius: 90px 90px 0 0;
  background-color: #8594A5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.door{
  height: 450px;
  width: 250px;
  border-radius: 70px 70px 0 0;
  background-color: #A0AEC0;
}

.eye{
  top: 15px;
  left: 25px;
  height: 5px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  animation: eye 7s ease-in-out infinite;
  position: absolute;
 }
.eye2{
  left: 65px;
}

.window{
  height: 40px;
  width: 130px;
  background-color: #1C2127;
  border-radius: 3px;
  margin: 80px auto;
  position: relative;
}

.leaf{
  height: 40px;
  width: 130px;
  background-color: #8594A5;
  border-radius: 3px;
  margin: 80px auto;
  animation: leaf 7s infinite;
  transform-origin: right;
}

.handle {
  height: 8px;
  width: 50px;
  border-radius: 4px;
  background-color: #EBF3FC;
  position: absolute;
  margin-top: 250px;
  margin-left: 30px;
}

.rectangle {
  height: 70px;
  width: 25px;
  background-color: #CBD8E6;
  border-radius: 4px;
  position: absolute;
  margin-top: 220px;
  margin-left: 20px;
}

@keyframes leaf {
  0% {
    transform: scaleX(1);
  }
  5% {
    transform: scaleX(0.2);
  } 
  70%{
    transform: scaleX(0.2);
  }
  75%{
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes eye {
  0% {
    opacity: 0;
    transform: translateX(0)
  }
  5% {
    opacity: 0;
  }
  15%{
    opacity: 1;
    transform: translateX(0)
  }
  20% {
    transform: translateX(15px)
  }
  35%{
    transform: translateX(15px)
  }
  40%{
    transform: translateX(-15px)
  }
  60%{
    transform: translateX(-15px)
  }
  65% {
    transform: translateX(0)
  }
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 5px #ff2a00, 0 0 15px #ff0000, 0 0 50px #ff0000, 0 0 50px #ff0000, 0 0 2px #ffb9b9, 2px 2px 3px #e21212;
    color: #ff574b;
  }
  50% {
    text-shadow: 0 0 3px #b50000, 0 0 7px #b50000, 0 0 25px #b50000, 0 0 25px #b50000, 0 0 2px #b50000, 2px 2px 3px #6a0000;
    color: #d36363;
  }
}


/*btn*/

.btn {
  width: 230px;
  height: 50px;
  border: 3px solid var(--logo-text-color);
  font-family: 'Zen Dots', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before, .btn::after {
  position: absolute;
  background: #1C2127;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 210px;
}

.btn::after {
  width: 230px;
  height: 30px;
}

.noselect {
  font-family: Zen Dots;
  font-size: 14px;
  color: var(--logo-text-color);
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #1C2127;
}

.btn:hover::after {
  height: 0px;
  background: #1C2127;
}

.btn:hover {
  background: #1C2127;
}
  