<div class="body">
    <div class="advertencia-text">
        <div class="message">No estás autorizado.
        </div>
        <div class="message2">Para ingresar a
            <span>SIMALAB-EPIS</span>
            debes iniciar sesión con tu correo institucional con dominio:
            <strong>@unsch.edu.pe</strong>
            (Además pertenecer a Ingeniería de Sistemas).
        </div>
    </div>

    <div class="btn-access">
        <a class="btn" (click)="goToLogin()" role="button">
            <span class="noselect">VOLVER AL LOGIN</span>
        </a>
    </div>

    <div class="container">
        <div class="neon">403</div>
        <div class="door-frame">
            <div class="door">
                <div class="rectangle"></div>
                <div class="handle"></div>
                <div class="window">
                    <div class="eye"></div>
                    <div class="eye eye2"></div>
                    <div class="leaf"></div>
                </div>
            </div>
        </div>
    </div>
</div>